<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <form action="/blog" method="post" enctype="multipart/form-data">
      <div
        class="d-flex flex-column justify-content-center align-items-center min-vh-100"
      >
        <div class="mb-3 w-50">
          <label for="coverImage" class="form-label">Image Upload</label>
          <input
            type="file"
            class="form-control"
            id="coverImage"
            name="coverImage"
            aria-describedby="coverImage"
          />
        </div>
        <div class="mb-3 w-50">
          <label for="exampleInputEmail1" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            aria-describedby="title"
          />
        </div>
        <div class="mb-3 w-50">
          <label for="floatingTextarea">Body</label>
          <textarea class="form-control" name="body" id="body"></textarea>
        </div>
        <div class="mb-3 w-50">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
    <%- include('./partials/scripts.ejs') %>
  </body>
</html>
